---
# ClusterRole must be pre-created manually for ArgoCD namespaced mode
# ArgoCD will not manage this resource
# Pre-create with: oc apply -f grafana-proxy-clusterrole.yaml
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: canopy-grafana-proxy
  namespace: {{ .Release.Namespace }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: canopy-grafana-proxy-{{ .Release.Namespace }}
subjects:
  - kind: ServiceAccount
    name: canopy-grafana-sa
    namespace: {{ .Release.Namespace }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: canopy-grafana-application-monitoring
  namespace: {{ .Release.Namespace }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cluster-monitoring-view
subjects:
- kind: ServiceAccount
  name: canopy-grafana-sa
  namespace: {{ .Release.Namespace }}
