---
apiVersion: grafana.integreatly.org/v1beta1
kind: GrafanaDatasource
metadata:
  name: rhoai-prometheus-grafanadatasource
spec:
  datasource:
      access: proxy
      editable: true
      isDefault: true
      jsonData:
        timeInterval: 5s
        tlsSkipVerify: true
      name: RHOAI Prometheus
      type: prometheus
      url: 'http://data-science-monitoringstack-prometheus.redhat-ods-monitoring.svc.cluster.local:9090'
  instanceSelector:
    matchLabels:
      dashboards: "grafana"
