apiVersion: llamastack.io/v1alpha1
kind: LlamaStackDistribution
metadata:
  name: llama-stack
  labels:
    {{- include "llama-stack-operator-instance.labels" . | nindent 4 }}
spec:
  replicas: 1
  server:
    containerSpec:
      env:
        {{- if .Values.otelCollector.enabled }}
        - name: TELEMETRY_SINKS
          value: 'console, sqlite, otel_trace'
        - name: OTEL_TRACE_ENDPOINT
          value: 'http://otel-collector-collector.observability-hub.svc.cluster.local:4318/v1/traces'
        - name: OTEL_METRIC_ENDPOINT
          value: 'http://otel-collector-collector.observability-hub.svc.cluster.local:4318/v1/metrics'
        - name: OTEL_SERVICE_NAME
          value: llamastack
        {{- end }}
        - name: MODEL_NAME
          value: {{ .Values.MODEL_NAME | quote }}
        - name: MODEL_URL
          value: {{ .Values.MODEL_URL | quote }}
        {{- if and .Values.persistence.enabled (contains "canopy" .Release.Namespace) }}
        - name: MILVUS_DB_PATH
          value: {{ .Values.persistence.mountPath }}/llama
        - name: SQLITE_STORE_DIR
          value: {{ .Values.persistence.mountPath }}/llama
        {{- end }}
      name: llama-stack
      port: 8321
    {{- if and .Values.persistence.enabled (contains "canopy" .Release.Namespace) }}
    storage:
      size: {{ .Values.persistence.size | quote }}
      mountPath: {{ .Values.persistence.mountPath | quote }}
    {{- end }}
    distribution:
      image: {{ .Values.distribution.image | quote }}
    userConfig:
      configMapName: llama-stack-config