apiVersion: llamastack.io/v1alpha1
kind: LlamaStackDistribution
metadata:
  name: llama-stack
  labels:
    {{- include "llama-stack-operator-instance.labels" . | nindent 4 }}
spec:
  replicas: 1
  server:
    containerSpec:
      env:
        {{- if .Values.sealed_secrets.enabled }}
        - name: API_TOKEN
          valueFrom:
            secretKeyRef:
              name: {{ .Values.sealed_secrets.secretName }}
              key: api_token
        {{- end}}
        {{- if .Values.otelCollector.enabled }}
        - name: OTEL_SERVICE_NAME
          value: llamastack-{{ .Release.Namespace }}
        - name: OTEL_EXPORTER_OTLP_ENDPOINT
          value: 'http://data-science-collector-collector-headless.redhat-ods-monitoring.svc.cluster.local:4318'
        - name: OTEL_EXPORTER_OTLP_PROTOCOL
          value: http/protobuf
        - name: OTEL_EXPORTER_OTLP_TRACES_ENDPOINT
          value: 'http://data-science-collector-collector-headless.redhat-ods-monitoring.svc.cluster.local:4318/v1/traces'
        - name: OTEL_EXPORTER_OTLP_METRICS_ENDPOINT
          value: 'http://data-science-collector-collector-headless.redhat-ods-monitoring.svc.cluster.local:4318/v1/metrics'
        - name: OTEL_RESOURCE_ATTRIBUTES
          value: 'service.name=llamastack-{{ .Release.Namespace }},service.version=1.0.0,deployment.environment=development'
        - name: OTEL_SERVICE_VERSION
          value: 1.0.0
        - name: OTEL_DEPLOYMENT_ENVIRONMENT
          value: development
        - name: OTEL_PYTHON_DISABLED_INSTRUMENTATIONS
          value: sqlite3
        - name: OTEL_PYTHON_LOGGING_AUTO_INSTRUMENTATION_ENABLED
          value: 'true'
        - name: OTEL_BSP_MAX_QUEUE_SIZE
          value: '512'
        - name: OTEL_BSP_SCHEDULE_DELAY
          value: '5000'
        - name: OTEL_BSP_MAX_EXPORT_BATCH_SIZE
          value: '100'
        - name: OTEL_BSP_EXPORT_TIMEOUT
          value: '30000'
        - name: OTEL_METRIC_EXPORT_INTERVAL
          value: '60000'
        - name: TELEMETRY_SINKS
          value: otel_trace, otel_metric
        {{- end }}
        - name: MILVUS_DB_PATH
          value: /opt/app-root/src/data/llama
        - name: SQLITE_STORE_DIR
          value: /opt/app-root/src/data/llama
        - name: FMS_VERIFY_SSL
          value: "false"
      name: llama-stack
      port: 8321
    storage:
      mountPath: /opt/app-root/src/data
      size: 10Gi
    distribution:
      image: {{ .Values.distribution.image | quote }}
    userConfig:
      configMapName: llama-stack-config